@import '../styles.scss';
.header-field{
    width: 100%;
    background-color: white;
}

.nav-body-field{
    display: flex;
    height: calc(100vh - 55px);

    .nav-field{
        width: 220px;
        background-color: #5A6276;
    }

    .body-field{
        width: calc(100% - 220px);
        background-color: $background-color;
    }
}