@import '../styles.scss';
.header-field{
    height: 50px;
    width: 100%;
    background-color: white;
}

.nav-body-field{
    display: flex;
    height: calc(100vh - 50px);

    .nav-field{
        width: 15vw;
        background-color: #5A6276;
    }

    .body-field{
        width: 85vw;
        background-color: $background-color;
    }
}