<div class="p-header">
    <div class="logo">
        <img src="https://www.hachihachi.com.vn/Uploads/systems/HachiLogo.png"/>
    </div>

    <div class="modules">
        <div class="modules_list" *ngFor="let module of modules">
            <div class="modules_item" [ngClass]="{'text-active': isModuleActive(module.nameModule)}"
                (click)="onModuleClick(module.nameModule)">
                {{module.nameModule}}
                <div class="modules_item_line_hor" *ngIf="isModuleActive(module.nameModule)"></div>
            </div>
            <div class="modules_item_line_ver" *ngIf="modules.indexOf(module) !== modules.length - 1">
                <div></div>
            </div>
        </div>
    </div>
</div>