<div class="p-date-picker">
    <div class="date-picker-open">
        <img src="../../../../assets/calendar.svg" alt="" (click)="setOpenDatePicker()">
        <input type="date" (blur)="onBlur(inputDate.value)" [(ngModel)]="fullPickedDate" #inputDate/>
    </div>
    <div class="date-container" *ngIf="isOpenDatePicker">
        <div class="date-container_header">
            <div class="date-container_header_date-picked">
                <div class="date-container_header_date-picked_month">{{changeMonthToString(changedMonth)}},</div>
                <div class="date-container_header_date-picked_year">{{changedYear}}</div>
            </div>
            <div class="date-container_header_icon">
                <i (click)="changeMonth('decre')" class="fa fa-angle-left"></i>
                <i (click)="changeMonth('incre')" class="fa fa-angle-right"></i>
            </div>
        </div>

        <div class="date-picker grid-cols-7">
            <ng-container *ngIf="indexDateStart">
                <div class="date-item col-span-1" *ngFor="let date of listDayDisableStartInMonth">

                </div>
            </ng-container>

            <div class="date-item col-span-1" *ngFor="let date of listDayInMonth" [ngClass]="{
                    'current-date': checkCurrentDate(date),
                    'date-item-picked': checkPickedDate(date, changedMonth, changedYear),
                    'date-item-disable': checkDisableDate(date, changedMonth, changedYear)
                }" (click)="pickDate(date, changedMonth, changedYear)">
                {{date}}
            </div>
        </div>
    </div>
</div>