<div class="p-decentralization">

    <div class="breadcrumb">
        <div class="breadcrumb_item1">Quản trị hệ thống</div>
        <div class="breadcrumb_icon">
            <kendo-icon name="chevron-right"></kendo-icon>
        </div>
        <div class="breadcrumb_item2">Phân quyền</div>
    </div>

    <div class="block-filter">

        <div>
            <div class="title-filter">
                <div class="title-filter_icon">
                    <kendo-icon name="filter"></kendo-icon>
                </div>
                <div class="title-filter_title">Lọc dữ liệu</div>
            </div>
        </div>

        <div class="group-filter">

            <!-- DROPDOWN LIST COMPANY -->
            <div class="group-filter_company">
                <div class="group-filter_company_title">Công ty</div>
                <div class="group-filter_company_dropdownlist">
                    <kendo-dropdownlist 
                        dropdownlistdirective 
                        (valueChange)="valueChange($event, selectedValueCompany)"
                        (filterChange)="handleSearch(listDisplayedCompany, listOriginCompany, $event, 'Bieft')"
                        [filterable]="true" 
                        [data]="listDisplayedCompany" 
                        textField="Bieft" 
                        valueField="Code"
                        [value]="dataCompanyDefault">
                    </kendo-dropdownlist>
                </div>
            </div>


            <!-- DROPDOWN LIST SUBSYSTEM -->
            <div class="group-filter_subsystem">
                <div class="group-filter_subsystem_title">Phân hệ</div>
                <div class="group-filter_subsystem_dropdownlist">
                    <kendo-dropdowntree 
                        kendoDropDownTreeExpandable 
                        dropdowntreelistdirective
                        (valueChange)="valueChange($event, selectedValueSubSystem)"
                        [kendoDropDownTreeHierarchyBinding]="listDisplayedSubSystem" 
                        textField="Vietnamese"
                        valueField="Code" 
                        [filterable]="true" 
                        placeholder="Tất cả"
                        childrenField="ListGroup">
                    </kendo-dropdowntree>
                </div>
            </div>


            <!-- DROPDOWN LIST DEPARTMENT -->
            <div class="group-filter_department">
                <div class="group-filter_department_title">Bộ phận</div>
                <div class="group-filter_department_dropdownlist">
                    <kendo-multiselecttree 
                        (valueChange)="valueChange($event, selectedValueDepartment)" 
                        multiselecttreedirective
                        kendoMultiSelectTreeExpandable 
                        [kendoMultiSelectTreeHierarchyBinding]="listDisplayedDepartment"
                        textField="Department" 
                        valueField="Code" 
                        childrenField="ListDepartment"
                        placeholder="-- Chọn --">
                    </kendo-multiselecttree>
                </div>
            </div>


            <!-- DROPDOWN LIST ROLE -->
            <div class="group-filter_role">
                <div class="group-filter_role_title">Vai trò</div>
                <div class="group-filter_role_dropdownlist">
                    <kendo-multiselect 
                        [data]="listDisplayedRole" 
                        (valueChange)="valueChange($event, selectedValueRole)"
                        [filterable]="true" 
                        textField="RoleName" 
                        valueField="Code" placeholder="-- Chọn --"
                        (filterChange)="onFilterChange($event)">
                    </kendo-multiselect>
                </div>
            </div>

        </div>

    </div>

    <div class="grid-container">

        <kendo-treelist 
            [data]="listDisplayedDataTree" 
            [height]="710" 
            [fetchChildren]="fetchChildren"
            [hasChildren]="hasChildren"
            [initiallyExpanded]="true"
            kendoTreeListExpandable>

            <kendo-treelist-column [expandable]="true" title="Chức năng phân quyền" [width]="300">
                <ng-template kendoTreeListCellTemplate let-dataItem>
                    {{ dataItem.Vietnamese ? dataItem.Vietnamese : dataItem.ModuleName }}
                </ng-template>
            </kendo-treelist-column>

        </kendo-treelist>

    </div>
</div>