@import '../../../../styles.scss';

::ng-deep {
    .k-list-optionlabel.k-selected {
        background-color: #1A6634;
    }

    .k-list-optionlabel:hover {
        background-color: #1A6634;
        color: white;
    }

    .k-checkbox:checked {
        accent-color: #008000;
        background-color: #008000;
        border: 1px solid #008000;
    }

    .k-checkbox:focus {
        box-shadow: none;
    }


    .k-i-search.k-input-icon.k-icon {
        display: none;
    }

    .k-list-optionlabel {
        color: black;
    }

    .k-list-optionlabel.k-selected:hover {
        background-color: #1A6634;
    }

    .k-list-item.k-selected {
        background-color: #1A6634;
    }

    .k-list-item.k-selected:hover {
        background-color: #1A6634;
    }

    .k-checkbox:checked:focus {
        box-shadow: none;
    }


    .k-input-outline:focus-within {
        border-color: #1A6634;
        border-width: 2px;
        box-shadow: none !important;
        border-radius: 2px;
    }

    .k-list-item:hover {
        background-color: #85c098;
        color: white;
    }

    .k-list-item {
        &.k-focus {
            outline: none;
            box-shadow: none;
        }
    }

    .k-picker-solid:focus,
    .k-picker-solid.k-focus {
        box-shadow: none !important;
        border: 1px solid black;
    }

    .k-picker-solid:focus-within {
        box-shadow: none;
    }

    .k-input-value-text {
        color: #000;
    }

    .k-input-inner {
        background-color: #FFF;
    }

    .k-input-solid:focus,
    .k-input-solid.k-focus {
        box-shadow: none !important;
    }

    .k-treeview-leaf:focus,
    .k-treeview-leaf.k-focus {
        box-shadow: none !important;
    }

    .k-treeview-leaf.k-selected {
        background-color: #008000;
    }

    kendo-dropdownlist {
        box-shadow: 1px 3px 6px 1px #8f9ba633 !important;
        max-height: 33px;

        button {
            background-color: #FFF !important;
        }
    }

    kendo-dropdowntree {
        box-shadow: 1px 3px 6px 1px #8f9ba633 !important;
        max-height: 33px;

        button {
            background-color: #FFF !important;
        }
    }

    kendo-multiselecttree {
        max-height: 30px;
        box-shadow: 1px 3px 6px 1px #8f9ba633 !important;
        cursor: pointer;

        .k-input-values {
            max-width: 90% !important;
            padding: 0 !important;
        }

        kendo-taglist {
            overflow-y: auto;
        }


        .k-input-inner {
            display: flex;
            justify-content: right;
        }

        .k-clear-value {
            display: none;
        }
    }

    .k-input-prefix {
        padding: 0 5px;
    }
}

::ng-deep {
    app-p-decentralization {
        .p-decentralization {
            padding: 0 15px 0 20px;

            .breadcrumb {
                display: flex;
                gap: 8px;
                text-transform: uppercase;
                font-size: 13px;
                font-weight: 700;
                width: auto;
                overflow-x: auto;
                padding: 15px 10px;
                border-bottom: 1px solid rgba(143, 155, 166, .4);

                &_item1,
                &_icon,
                &_item2 {
                    display: flex;
                    align-items: center;
                    text-wrap: nowrap;
                }

                &_item1 {
                    color: $dark-green-color;
                }

                &_icon kendo-icon {
                    font-size: 20px !important;
                    color: $dark-green-color;
                }
            }


            .block-filter {
                overflow-x: auto;
                display: flex;
                padding: 10px;
                gap: 10px;
                border-bottom: 1px solid rgba(143, 155, 166, .4);

                .title-filter {
                    color: $grey-text;
                    display: flex;
                    text-transform: uppercase;
                    font-weight: 700;
                    padding: 8px 0;
                    text-wrap: nowrap;

                    &_icon,
                    &_title {
                        display: flex;
                        align-items: center;
                        font-size: 13px;
                    }

                    &_icon kendo-icon {
                        font-size: 16px !important;
                    }
                }


                .group-filter {
                    width: 90%;
                    display: flex;
                    justify-content: space-between;
                    gap: 10px;

                    &_company {
                        width: 16%;
                        min-width: 200px;

                        &_title {
                            padding: 8px 0;
                            color: #343A40;
                            font-weight: 700;
                            font-size: 13px;
                        }

                        &_dropdownlist {

                            .itemDropDown:hover {
                                background-color: black !important;
                            }
                        }
                    }

                    &_subsystem {
                        width: 20%;
                        min-width: 250px;

                        &_title {
                            padding: 8px 0;
                            color: #343A40;
                            font-weight: 700;
                            font-size: 13px;
                        }
                    }

                    &_department {
                        min-width: 300px;
                        width: 22%;

                        &_title {
                            padding: 8px 0;
                            color: #343A40;
                            font-weight: 700;
                            font-size: 13px;
                        }
                    }
                }
            }

        }
    }
}