.p-status {
    display: flex;
    gap: 15px;
    font-size: 14px;

    .status-item {
        height: 28px;
        padding: 0 10px;
        display: flex;
        justify-content: center;
        gap: 5px;
        border: 1px solid #fff;
        background-color: #fff;
        border-radius: 14px;
        cursor: pointer;
        user-select: none;
        box-shadow: 1px 3px 6px 1px rgba(143, 155, 166, 0.2);

        div, input{
            height: 28px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            cursor: pointer;
        }
    }
}
